<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="RatingApp\Rate\Api\ReviewManagementInterface" type="RatingApp\Rate\Model\ReviewManagement"/>
	<preference for="RatingApp\Rate\Api\OrderManagementInterface" type="RatingApp\Rate\Model\OrderManagement"/>
</config>